[submodule "lk-payload/bcbtool"]
	path = lk-payload/bcbtool
	url = https://github.com/bengris32/bcbtool.git
[submodule "lk-payload/libaeabi-cortexm0"]
	path = lk-payload/libaeabi-cortexm0
	url = https://github.com/bobbl/libaeabi-cortexm0.git
[submodule "lk-payload/idmetool"]
	path = lk-payload/idmetool
	url = https://github.com/R0rt1z2/idmetool.git
